In [5]:
import pandas as pd
import matplotlib.pyplot as plt

Gráfico comparando a média do tamanh pelo peso separado por animal
talvez um scatterplot

In [2]:
data = pd.read_csv("2019_10_04_arrasto1.csv")

In [3]:
data

     ARRASTO    LOCAL   ESPECIE  N° DE INDIVIDUOS CT (cm) PESO (g)  PONTO
0          1  Náutico  Anc.brev               1.0     9,6     5,35      1
1          1  Náutico  Anc.brev               2.0       9     4,39      1
2          1  Náutico  Anc.brev               3.0     8,7     3,92      1
3          1  Náutico  Anc.brev               4.0       9     4,39      1
4          1  Náutico  Anc.brev               5.0     9,5     5,42      1
..       ...      ...       ...               ...     ...      ...    ...
795        3  Náutico   Ani.vir               2.0    11,0    28,28      3
796        3  Náutico   Ani.vir               3.0    11,9    34,74      3
797        3  Náutico   Ani.vir               4.0    12,3    37,73      3
798        3  Náutico   Ani.vir               5.0    14,8    80,50      3
799        3  Náutico   Ani.vir               6.0    12,8    41,45      3

[800 rows x 7 columns]

In [6]:
# creating the dataset
data = {'C':20, 'C++':15, 'Java':30,
        'Python':35}
courses = list(data.keys())
values = list(data.values())
  
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(courses, values, color ='maroon',
        width = 0.4)
 
plt.xlabel("Courses offered")
plt.ylabel("No. of students enrolled")
plt.title("Students enrolled in different courses")
plt.show()

SyntaxError: invalid syntax (<ipython-input-6-7f8ea41e05b0>, line 1)

In [10]:
a = 0.11
for i in range(10000000):
    a += 0.11
a

1100000.1099320103

In [11]:
c = 1, 2

In [12]:
c/2

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [15]:
peso = float(input("Digita a nome: "))
altura = float(input("Digita o idade: "))
imc = peso / altura**2
print(f"O IMC é {imc:.2f}")

Digita a nome: 57
Digita o idade: 1.69
O IMC é 19.96